<h1>Craig's List Clone </h1>

<div>
  {{#each model as |listing|}}
    {{listing-tile listing=listing}}
  {{/each}}
</div>

{{new-listing saveListing="saveListing"}}

<h2>categories</h2>

<div>
  <ul>
    {{#each model.categories as |category|}}
     <li>{{category.name}}</li>
     {{/each}}
  </ul>

</div>
